/*---------
-------google font style--- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.container{
       background-color:#2D25A0;
       height: 677px;
    
       
}

.banner-container{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    margin-top: 10px;

    
}

.league-title .league-name{
    font-size: 64px;
    width: 485px;
    height: 230px;
    color: #FFFFFF;
  
}
.banner-img img{
    width: 556.01px;
    height: 438px;
    margin-top: 175px;
    animation-name: banner-move;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes banner-move{
    0%{
     transform: scale(0.9);
     
    }
    100%{
        transform: scale(1.3);
      
        transform: skewX(-5deg);
        
    }
}
.league-title a{
    background-color: #E02C6D;
    width: 168px;
height: 44px;
text-decoration: none;
padding: 10px 24px;
color: white;
position:relative;
top: 57px;
}
.league-title a:hover{
    background-color: black;
}


/* ---players section */
.all-players{
    width: 1050px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-top: 70px;
    margin-left: 180px;
}
.player{
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px;
    padding: 10px;
    width: 330px;
height: 474px;

}
.player img{
    width: 300px;
    width: 100%;
height: 256px;
}
/* -player section end-- */

/* ---winner celebration section */
.copa-cup{
    margin: 50px;
    width: 1200px;
}

.copa-cup-container{
    
    display: flex;
    justify-content:center;
    padding: 30px;
    margin-left: 50px;
}

.celebration img{
    width: 100%;
    border-radius: 30%;
    margin-right: 30px;
    
}

.about-winner{
    width: 80%;
    margin-left: 50px;
    text-align: justify;
}
.about-winner a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.about-winner a:hover{
    background-color: black;
}

/* ----winner celebration section end */

/* highlight section */
.highlight{
    background-color:#2D25A0 ;
}

.highlight .section-title{
    color: white;
    text-align: center;
    font-size: 30px;
}
.highlight-container{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}


.moment img{
    box-shadow: 0px 0px 2px 0px;
    padding: 10px;
    width: 330px;
    height: 210px;  
    border: 5px dashed rgb(255, 255, 255);
}
.moment img:hover{
    transform: scale(1.2);
    transition: transform 2s;
}
.highlight-container a{
    color: rgb(255, 255, 255);
    text-decoration: none;
     margin-top: 60px;
     background:linear-gradient(rgb(255, 60, 0) ,rgba(0, 0, 255, 0.52));
     height: 30px;
     border-radius: 20%;
     padding: 5px;
     font-size: 20px;
     font-weight: 800;
}

/* --footer css--- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}

.logo img{
    width: 483.87px;
height: 110px;
}
.icon a>i{
    padding: 21.47px;
   
}
.icon a>i:hover{
    transform: scale(2);
    transition: transform 1s;
   
}

/* ---media query for device */
/* --for mobile--- */
@media only screen and (max-width:688px){
    main{
        overflow-x: hidden;
    }
    /* --first section-- */
    .container{
        width: 100%;
    }
  
    .banner-container{
        width: 100%;
       flex-direction: column;
       background-color: #2D25A0;
       margin-top: 20px;
    }
    .banner-container .league-title .league-name{
        font-size:30px;
        text-align: center;
        margin-left: -105px;
        /* padding: 10px; */

         
    }
    
    .banner-container .banner-img img{
        margin-top: 90px;
       width:300px;
       height: auto;
margin-left: -50px;
    }
    .league-title{
        margin-left: -40px;
        width:80%;
    }
    /* ---players section--- */

   .players{
     
       width:300px;
       margin-top: 100px;
       grid-template-columns: repeat(1,1fr);
       margin-left: 10px;
      
   }
   .player{
       width: 100%;
   }

   /* --3rd section--- */
   .copa-cup{
      
       margin-left: 5px;
       width: 320px;
   }
  .copa-cup-container{
  
     margin-left:1px;
     flex-wrap:wrap;
     
     width:250px;
    }
    .copa-cup-container .about-winner{
        margin-left: 2px;
    }
    /* ---celebration section---
     */
    .celebration img{
     
      width: 100%;
      margin-left: 2px;
    }
    .highlight-container{
    
      flex-direction: column;
      
    }
    .highlight{
      
        width: 320px;

    }
    .moment{
        
        
        
        margin-left: -40px;
        width:260px;
        padding: 10px;
    }
    .moment img{
        width: 250px;
        padding: 10px;
    }
    /* --footer section--- */
    .logo{
        margin-left: 1px;
    }
    .logo img{
    
      width: 280px;
    
  }

}
   